@inject UserManager<Employee> UserManager

@{
    ViewData["Title"] = "Home Page";

    var user = await UserManager.GetUserAsync(User);
}

<div class="text-center">
    <h1 class="display-4">Witaj,</h1>
    <p>HRMS - Testowa aplikacja webowa dla systemu zarzadzania zasobami ludzkimi.</p>
</div>
<br />
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/instagram-ui-colored/48/JD-15-512.png" alt="Card image cap">
        <div class="card-body">

            <h5 class="card-title">
                <a asp-area="Identity" asp-page="/Account/Manage/Index">
                    Profil użytkownika
                </a>
            </h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <a asp-area="" asp-controller="AvailableAbsence" asp-action="Summary" asp-route-id="@user.Id">
                    Urlopy
                 </a>
            </h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/flat-icons-web/40/Copy-512.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <a asp-area="" asp-controller="Contract" asp-action="ListContracts" asp-route-id="@user.Id">
                    Umowy
                </a>
            </h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
    </div>
</div>