@inject UserManager<Employee> UserManager

@{
    ViewData["Title"] = "Home Page";

    var user = await UserManager.GetUserAsync(User);
}

<div class="text-center">
    <h1 class="display-4">Witaj,</h1>
    <p>HRMS - Testowa aplikacja webowa dla systemu zarzadzania zasobami ludzkimi.</p>
</div>
<br />
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/success-filloutline/64/contract-agreement-document-pen-certification-256.png" alt="Card image cap">
        <div class="card-body">

            <h5 class="card-title">
                <a asp-area="" asp-controller="Contract" asp-action="ListContracts" asp-route-id="@user.Id">
                    Twoje umowy
                </a>
            </h5>
            <p class="card-text">Przejdź do modułu swoich umów i sprawdź ich szczegóły.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <a asp-area="" asp-controller="AvailableAbsence" asp-action="Summary" asp-route-id="@user.Id">
                    Urlopy
                 </a>
            </h5>
            <p class="card-text">Przejdź do modułu urlopowego i zobacz swoje dostępne dni do wykorzystania.</p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://cdn0.iconfinder.com/data/icons/miscellaneous-15-color-shadow/128/timesheet_countdown_overtime_schedule_timetable_timekeeping-256.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                <a asp-area="" asp-controller="" asp-action="" asp-route-id="">
                    Nadgodziny
                </a>
            </h5>
            <p class="card-text">Przejdź do modułu nadgodzin i zgłoś swoją pracę po godzinach.</p>
        </div>
    </div>
</div>