@inject UserManager<Employee> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Wniosek wycofany";
}

<h1>Wycofanie wniosku</h1>

<hr />
<div class="alert alert-success" role="alert">
    Pomyślnie wycofano wniosek.
</div>

<div>
    <a class="btn btn-primary" style="width:auto" asp-controller="Request" asp-action="ListRequest" asp-route-id="@user.Id">
        Twoje wnioski
    </a>
    <a class="btn btn-primary" style="width:auto" asp-controller="Request" asp-action="CreateRequest">
        Złóż nowy wniosek
    </a>
</div>