@inject UserManager<Employee> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Wniosek odrzucony";
}

<h1>Odrzucenie wniosku</h1>

<hr />
<div class="alert alert-success" role="alert">
    Pomyślnie odrzucono wniosek.
</div>

<div>
    @if (this.User.IsInRole("Manager"))
    {
        <a class="btn btn-primary" style="width:auto" asp-controller="Request" asp-action="PendingRequest" asp-route-id="@user.Id">
            Oczekujące wnioski Twoich pracowników
        </a>
    }

    @if (this.User.IsInRole("Administrator") || this.User.IsInRole("PracownikHR"))
    {
        <a class="btn btn-primary" style="width:auto" asp-controller="Request" asp-action="AllPendingRequests" asp-route-id="@user.Id">
            Wszystkie oczekujące wnioski
        </a>
    }
    <a class="btn btn-primary" style="width:auto" asp-controller="Request" asp-action="CreateRequest" asp-route-id="@user.Id">
        Złóż nowy wniosek
    </a>
</div>