@inject UserManager<Employee> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Wniosek nie może zostać przesłany";
}

<h1>Wniosek nie może zostać przesłany</h1>

<hr />

<div class="alert alert-danger" role="alert">
    Niewystarczająca liczba dostępnych dni urlopowych danego rodzaju.
</div>

<div>
    <a class="btn btn-primary" style="width:auto" asp-controller="AvailableAbsence" asp-action="Summary" asp-route-id="@user.Id">
        Dostępne urlopy
    </a>
    <a class="btn btn-primary" style="width:auto" asp-controller="Request" asp-action="CreateRequest">
        Złóż nowy wniosek
    </a>
</div>