@model HRMS_Project.Models.Benefit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja @Html.DisplayFor(model => model.Name)</h1>

<h4>Benefit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBenefit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdBenefit" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Cena w PLN:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" /> | <a asp-action="ListBenefits">Powrót do listy benefitów</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
