
@{
    ViewData["Title"] = "Panel administracyjny";
}

<h1>Panel administracyjny</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a asp-controller="Administration" asp-action="ListRoles">
            <h5 class="card-title">Role użytkowników</h5>
        </a>
        <p class="card-text">Zarządzanie rolami użytkowników.</p>
        <a class="card-link" asp-area="" asp-controller="Administration" asp-action="CreateRole">Dodaj rolę</a>
        <a asp-controller="Administration" asp-action="ListRoles" class="card-link">Wyświetl role</a>
    </div>
</div>

