
@{
    ViewData["Title"] = "Index";
}

<h1>Amin panel</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a asp-controller="Administration" asp-action="ListRoles">
            <h5 class="card-title">User roles</h5>
        </a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="card-link" asp-area="" asp-controller="Administration" asp-action="CreateRole">Add role</a>
        <a href="#" class="card-link">Assign role</a>
    </div>
</div>

