
@{
    ViewData["Title"] = "Panel administracyjny";
}

<h1>Panel administracyjny</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a asp-controller="Administration" asp-action="ListRoles">
            <h5 class="card-title">Role użytkowników</h5>
        </a>
        <p class="card-text">Zarządzanie rolami użytkowników.</p>
        <a class="card-link" asp-area="" asp-controller="Administration" asp-action="CreateRole">Dodaj rolę</a>
        <a asp-controller="Administration" asp-action="ListRoles" class="card-link">Wyświetl role</a>
    </div>
</div>
<br />
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a asp-controller="Administration" asp-action="ListUsers">
            <h5 class="card-title">Pracownicy</h5>
        </a>
        <p class="card-text">Zarządzanie pracownikami.</p>
        <a class="card-link" asp-area="" asp-controller="Account" asp-action="Register">Dodaj pracownika</a>
        <!--<a asp-controller="Administration" asp-action="ListRoles" class="card-link">Wyświetl role</a>-->
    </div>
</div>
<br />
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a asp-controller="Contract" asp-action="ListAllContracts">
            <h5 class="card-title">Umowy</h5>
        </a>
        <p class="card-text">Zarządzanie umowami.</p>
        <a asp-controller="Administration" asp-action="CreateContract" class="card-link">Stwórz umowę</a><br />
        <a asp-controller="Contract" asp-action="ListAllContracts" class="card-link">Wyświetl umowy</a>
    </div>
</div>
