
@{
    ViewData["Title"] = "Panel administracyjny";
}

<h1>Panel administracyjny</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a asp-controller="Administration" asp-action="ListRoles">
            <h5 class="card-title">Role użytkowników</h5>
        </a>
        <p class="card-text">Zarządzanie rolami użytkowników.</p>
        <a class="card-link" asp-area="" asp-controller="Administration" asp-action="CreateRole">Dodaj rolę</a>
        <a asp-controller="Administration" asp-action="ListRoles" class="card-link">Wyświetl role</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a asp-controller="Administration" asp-action="ListUsers">
            <h5 class="card-title">Pracownicy</h5>
        </a>
        <p class="card-text">Zarządzanie pracownikami.</p>
        <a class="card-link" asp-area="" asp-controller="Account" asp-action="Register">Dodaj pracownika</a>
        <!--<a asp-controller="Administration" asp-action="ListRoles" class="card-link">Wyświetl role</a>-->
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a asp-controller="AvailableAbsence" asp-action="ListAvailableAbsence">
            <h5 class="card-title">Urlopy</h5>
        </a>
        <p class="card-text">Zarządzanie urlopami.</p>
        @*<a class="card-link" asp-area="" asp-controller="Account" asp-action="Register">Dodaj urlopy</a>*@
        <a asp-controller="AvailableAbsence" asp-action="ListAvailableAbsence" class="card-link">Lista urlopów</a>
    </div>
</div>
