@model IEnumerable<HRMS_Project.Models.Benefit>

@{
    ViewData["Title"] = "Index";
}

<h1>Benefity</h1>
<hr />

<div>
    <a class="btn btn-primary" asp-action="CreateBenefit">Dodaj nowy benefit</a>
</div>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Cena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="EditBenefit" asp-route-id="@item.IdBenefit">Edytuj</a>
                    <a class="btn btn-danger btn-sm" asp-action="DeleteBenefit" asp-route-id="@item.IdBenefit">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
