@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Role użytkowników";
}

<h1>Role użytkowników:</h1>

@if (Model.Any())
{
    foreach (var role in Model)
    {
        <div class="card">
            <div class="card-header">
                ID roli: @role.Id
            </div>
            <div class="card-body">
                <h5>
                    @role.Name
                </h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">
                    Edytuj
                </a>
                <a href="#" class="btn btn-danger" style="width:auto">
                    Usuń
                </a>
            </div>
        </div>
    }

}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="CreateRole">
                Dodaj rolę
            </a>
        </div>
    </div>
}

