@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Role użytkowników";
}

<h1>Role użytkowników</h1>

<hr />

<a class="btn btn-primary mb-3" style="width:auto" asp-controller="Administration" asp-action="CreateRole">
    Dodaj nową rolę
</a>

<br />

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nazwa
                </th>
                <th>
                    Akcja
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>
                        @role.Name
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                            <a class="btn btn-primary btn-sm" style="width:auto" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">
                                Edytuj
                            </a>
                            <button type="submit" class="btn btn-danger btn-sm">
                                Usuń
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h3>Brak ról w systemie.</h3>
}

